* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    position: relative;
}
body::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(Blue_Lock.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    z-index: -1;
}
.wrapper{
    border-radius: 8px;
    width: 400px;
    padding: 30px;
    text-align: center;
    border: 3px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
form{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 2rem;
    margin: 20px;
}
.input-field{
    position: relative;
    margin: 15px 0px;
    border-bottom: 1px solid gray;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: 0.15s ease;
}
.input-field input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding:0 10px;
}
.input-field input:focus~label,
.input-field input:valid~label{
    transform: translateY(-120%);
    font-size: 0.8rem;
    top: 10px;
}
.forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
}
.forget label{
    display: flex;
    align-items: center;   
}
.forget label span{
    margin-left: 10px;
}
.forget a{
    text-decoration: none;
    color: black;
}
.forget a:hover{
    color: rgb(237, 233, 233);
    text-decoration: underline;
}
button{
    font-weight: 600;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s ease;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
button:hover{
    background-color: white;
    border-radius: 10px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
}
.submit a{
    text-decoration: none;
    color: black;
}
.submit a:hover{
    color: hsl(0, 0%, 85%);
    text-decoration: underline;
}